<h2><%= @message.title%></h2>
<%= @message.description%>
<%= link_to 'Back', root_path, class: "btn btn-default"%>
<% unless !user_signed_in? %>
  <%= link_to 'Edit Message', edit_message_path(@message), class: "btn btn-default"%>
<%end%>
